.line {
    border: 1px solid red;
}
html {
    background-color: #e5e5e5;
}

.main-body {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    position: relative;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2)
}
p {
    font-size: 14px;
    line-height: 26px;
}
a {
    text-decoration: none;
}
header {
    margin: 0;
    padding: 0;

}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu {
    margin: 0;
    padding: 0;
    background: #ffffff;
}
.menu-list-left,
.menu-list-right,
.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.menu-list {
    position: relative;
}

.menu-list-item {
    flex-grow: 1;
    min-width: 240px;
    font-weight: bold;
}
.menu-list-item a {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    display: block;
    padding: 15px 0px;
    color: #000000;
}
.logo-COS {
    position: absolute;
    top: 0;
    left: calc(50% - 69px);
}
.landscape-Sedona {
    position: absolute;
    top: -40px;
    left: 0;
    z-index: -1;
}
.preview {
    margin: 0;
    padding: 0;
    width: 100%;
} 
.preview-list {
    display: flex;
    width: 576px;
    flex-direction: column;
    margin: 0 auto;
}
.preview-list-item {
    text-align: center;
    width: 100%;
}
.preview-list-item:first-child {
    margin-top: 75px;
    margin-bottom: 10px;
}
.preview-list-item:nth-child(2) {
    margin-bottom: 50px;
}
.preview-list-item:nth-child(3) {
    margin-bottom: 55px;
}
.preview-list-item:last-child {
    margin-bottom: 80px;
}


.hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.preview-tagline {
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 60px 0 40px 0;
    position: relative;
}
.preview-tagline::before {
    content: '';
    position: absolute;
    left: 0;
    top: -57px;
    width: 1200px;
    height: 57px;
    background-image: url('images/background-shape.png');
    background-repeat: none;
}
.preview-tagline p {
    width: 576px;
    padding: 0;
    margin: 0 auto;
}
.preview-tagline p:first-child {
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    margin-bottom: 30px;
}
.preview-tagline p:nth-child(2) {
    color: #333333;
}

/*Features new*/
.features-list *
 {
    margin: 0;
    padding: 0;
}
.features-list {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
}
.features-list-item,
.recomendations,
.without-picture {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}
.with-picture {
    background-color: #81b3d2;
    height: 256px;
    box-sizing: border-box;
    color: #ffffff;

}
.recomendations {
    background-color: #ffffff;
}
.without-picture-item,
.recomendations-item {
    flex-grow: 1;
    width: 100%;
    
}
.without-picture-item div,
.recomendations-item div,
.with-picture div {
    width: 300px;
    margin: 40px auto 60px;
    text-align: center;
}
.with-picture div .number,
.without-picture-item div .number {
    margin: 30px auto;
}/*
.first {order: 1;} .second {order: 2;}*/
.third {
    order: 3;
}
.fourth {
    order: 4;
}

.recomendations-item div {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 85px;
}
.icon {
    order: -1;
    position: relative;
    height: 76px;
}
.icon svg {
    position: absolute;
    left: calc(50% - 40px);
    bottom: 0;
}
.recomendations-item div h3 {
    margin: 30px auto;
}

.footer {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.booking-form {
    margin: 0 auto;
    text-align: center;
    padding-top: 55px;
    width: 568px;
}
.booking-form h2 {
    font-size: 30px;
    line-height: 36px;
}
.booking-form p {
    margin: 30px auto 50px;
}
.search-button {
    font-size: 21px;
    line-height: 26px;
    padding: 30px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    background: #766357;
    border: none;
    color: #ffffff;
}
.map {
    margin: 0;
}

.footer-bottom {
    margin: 0;
    padding: 0 100px 0 130px;
    width: 100%;
    height: 120px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.social-list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 150px;
    margin: 0;
    padding: 0;
}

.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
}
.social-button {
    display: flex;
    width: 46px;
    height: 48px;
    justify-content: center;
    align-items: center;
    background-color: #81b3d2;
}
.htmlacademy {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

}
.htmlacademy p {
    margin-right: 10px;
}
.htmlacademy a {
    width: 115px;
    height: 41px;
}
.htmlacademy svg path {
    fill: #231f20;
}

.search-form {
    display: none;
    width: 568px;
    margin: 0 auto;
    padding: 55px;
    background-color: #ffffff;
    border: 1px dashed red;
    box-sizing: border-box;
}
.search-form form p {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px dashed red;
}
.search-form form p:nth-child(2) {
    margin: 30px 0;
}
a:hover {
    box-shadow: 0 0 5px 0 #81b3d2;
}